<% layout('layouts/boilerplate') %>
<% for (let record of records) {%>
<section class="entry">
    <div class="a" id="<%=record._id%>">
        <div class="card-container">
            <div class="nickname">/<%=record.user.nickname%>/</div>
            <div class="card">
                <div class="desc"><%=record.description%></div>
                <div class="tags">
                    <!-- <div class="tag" style="background-color: darkgoldenrod;">lol</div>
                                <div class="tag" style="background-color: red;">xd</div>
                                <div class="tag" style="background-color: greenyellow;">...</div> -->
                </div>
                <div class="third">
                    <div class="time">
                        <span class="text-muted">Čas</span> <%= record.time %> <span class="text-muted">min</span>
                    </div>
                    <div class="date">
                        <span class="text-muted">Přidáno</span> <%=record.date.toLocaleDateString('en-GB')%>
                    </div>
                </div>
            </div>
            <div class="lang">\<%=record.language.name%>\</div>
        </div>
    </div>
</section>
<% } %>