<% layout('layouts/boilerplate') %>
<section class="entry">
    <a href="entry1" style="
    border-image-source: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgb(0, 0, 0) 60%);
            ">
        <div class="card-container">
            <div class="nickname">/voko/</div>
            <div class="card">
                <div class="desc">Lorem ipsum dolor, sit amet consecteturamet consecteturamet consecteturamet
                    consecteturamet consectetur adipisicing elit...</div>
                <div class="tags">
                    <div class="tag" style="background-color: darkgoldenrod;">lol</div>
                    <div class="tag" style="background-color: red;">xd</div>
                    <div class="tag" style="background-color: greenyellow;">...</div>
                </div>
                <div class="date">
                    <span class="text-muted">Přidáno</span> 18/03/23
                </div>
            </div>
            <div class="lang">\C++\</div>
        </div>
    </a>
</section>
<% for (let record of records) {%>
<section class="entry">
    <div class="a" id="<%=record._id%>">
        <!-- <a href="entry1" style="
        border-image-source: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgb(0, 0, 0) 60%);
                "> -->
        <div class="card-container">
            <div class="nickname">/<%=record.nickname%>/</div>
            <div class="card">
                <div class="desc"><%=record.description%></div>
                <div class="tags">
                    <!-- <div class="tag" style="background-color: darkgoldenrod;">lol</div>
                                <div class="tag" style="background-color: red;">xd</div>
                                <div class="tag" style="background-color: greenyellow;">...</div> -->
                </div>
                <div class="date">
                    <span class="text-muted">Přidáno</span> <%=record.date.toLocaleDateString('en-GB')%>
                </div>
            </div>
            <div class="lang">\<%=record.language%>\</div>
        </div>
        <!-- </a> -->
    </div>
</section>
<% } %>